{% extends "base.html" %}
{%- import "icons.html" as icons -%}

{% block title %}Sources{% endblock %}

{% block content %}
<div class="flex p-4">
  <div class="flex-col">
    <h1 class="text-3xl bold">Sources</h1>    

    <div class="overflow-x-auto">
      <table class="table">
        <thead>
          <tr>
            <th class="hidden md:table-cell">
              <label>
                <input id="checkbox-all-sources" type="checkbox" class="checkbox-xs" />
              </label>
            </th>
            <th>Source</th>
            <th class="hidden sm:table-cell">Description</th>
            <th>Last fetched at</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="hidden md:table-cell">
              <label>
                <input id="checkbox-github" type="checkbox" class="checkbox-xs" />
              </label>
            </td>
            <td>
              <div class="flex">
                <img class="w-5" src="/static/sources/github-mark.svg" alt="GitHub logo" role="img" />
                <span class="px-1">GitHub</span>
              </div>
            </td>
            <td class="hidden sm:table-cell">
              Collect Pull Request activity data from
              <a href="https://github.com/" target="_blank" class="link" referrerpolicy="same-origin">GitHub</a>.
            </td>
            <td>
              <div class="flex items-center">
                <div>
                  <span id="github_last_fetched">{{ github_last_fetched }}</span>
                </div>
                <div 
                     data-tip="Fetch now"
                     class="lg:tooltip tooltip-left">
                  <button hx-post="/sources/github/fetch"
                          hx-target="#github_last_fetched"
                          hx-ext="disable-element"
                          hx-disable-element="self"
                          x-data="{ indicator: false, toggle() { this.indicator = ! this.indicator } }"
                          @click="toggle()"
                          x-on:htmx:after-swap.window="toggle()"
                          class="btn btn-ghost btn-xs">
                    <span x-show="! indicator">
                      {{- icons.fetch_icon() -}}
                    </span>
                    <span x-cloak
                          x-show="indicator"
                          class="loading loading-spinner p-1">
                    </span>
                  </button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}