{% extends "base.html" %}
{%- import "icons.html" as icons -%}
{%- import "nav-menu.html" as nav -%}

{% block title %}Sources{% endblock %}

{% block content %}
{{ nav.nav(current_nav) }}
<div>
  <h1 class="text-3xl bold">Sources</h1>

  <section>
    <div class="card card-compact lg:card-side bg-base-100 shadow-xl">
        <figure class="w-24 h-24"><img src="/static/sources/GitHub_Logo.png" alt="GitHub logo"/></figure>
        <div class="card-body">
          <h2 class="card-title">GitHub</h2>
          <p>Collect Pull Request activity data from GitHub.</p>
          <p>Last fetched: TODO</p>
          <div class="card-actions justify-end">
            <button class="btn btn-primary">{{- icons.fetch_icon() -}}Fetch now</button>
          </div>
        </div>
      </div>    
  </section>
</div>
{% endblock %}