{%- include 'icons.html' -%}
{%- macro nav_link(href, label, current_nav, icon) -%}
<a href="{% autoescape false %}{{ href }}{% endautoescape %}" class="menu-item-hidden-small hidden md:inline-flex {% if icon %}md:w-48{% else %}md:w-42{% endif %} w-76 {% if href == current_nav %}active{% endif %}" {% if href == current_nav %}aria-current="page"{% endif %}>
  {{- icon() if icon -}}
  {{ label }}
</a>
{%- endmacro -%}
{%- macro nav_link_with_li(href, label, current_nav, icon) -%}
<li>
  {{ nav_link(href, label, current_nav, icon) }}
</li>
{%- endmacro -%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OpSQL {% block title %}{% endblock %}</title>
    <link href="/static/app.css" rel="stylesheet" />
    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="flex-none md:flex">
      <nav class="flex">
        <ul class="flex-col menu bg-base-200 w-full md:w-52 md:min-h-screen">
          <li class="menu-title flex-row">
            <label class="btn btn-xs btn-circle swap swap-rotate md:hidden">
              <input id="navbar-toggle" type="checkbox" />
              {{ menu_icon() }}
              {{ x_icon() }}
            </label>
            <span class="px-2 py-0.5">OpSQL</span>
          </li>
          <li class="menu-item-hidden-small hidden md:block">
            <div class="form-control">
              <input type="search" placeholder="Search" class="input input-bordered w-76 md:w-40" />
            </div>
          </li>
          {# {{ nav_link_with_li("/bookmark", "Bookmarks", current_nav, bookmark_icon) }} #}
          {{ nav_link_with_li("/dashboard", "Overview", current_nav, dashboard_icon) }}
          <li>
            {{ nav_link("/query/github", "GitHub", current_nav, github_icon) }}
            <ul>
              {{ nav_link_with_li("/query/github/pr_duration", "PR duration", current_nav) }}
            </ul>
          </li>
          {{ nav_link_with_li("/pagerduty", "PagerDuty", current_nav, dashboard_icon) }}
          {{ nav_link_with_li("/sources", "Sources", current_nav, sources_icon) }}
        </ul>
      </nav>
      {% block content %}{% endblock %}
    </div>
    <script type="module" src="/static/main.js"></script>
  </body>
</html>